{
  "openapi": "3.1.0",
  "info": {
    "description": "The REST API provided by the core REST module.",
    "title": "Medad DAR - REST API",
    "version": "Versioning not supported"
  },
  "servers": [
    {
      "url": "https://demo.dar.medad.com",
      "description": "Current Server"
    }
  ],
  "tags": [
    {
      "name": "block_content",
      "description": "Entity type: Content block",
      "x-entity-type": "block_content",
      "x-definition": {
        "$ref": "#/components/schemas/block_content"
      }
    },
    {
      "name": "entity_form_display",
      "description": "Entity type: Entity form display",
      "x-entity-type": "entity_form_display",
      "x-definition": {
        "$ref": "#/components/schemas/entity_form_display"
      }
    },
    {
      "name": "facets_facet",
      "description": "Entity type: Facet",
      "x-entity-type": "facets_facet",
      "x-definition": {
        "$ref": "#/components/schemas/facets_facet"
      }
    },
    {
      "name": "facets_facet_source",
      "description": "Entity type: Facet source",
      "x-entity-type": "facets_facet_source",
      "x-definition": {
        "$ref": "#/components/schemas/facets_facet_source"
      }
    },
    {
      "name": "facets_summary",
      "description": "Entity type: Facet summary",
      "x-entity-type": "facets_summary",
      "x-definition": {
        "$ref": "#/components/schemas/facets_summary"
      }
    },
    {
      "name": "field_config",
      "description": "Entity type: Field",
      "x-entity-type": "field_config",
      "x-definition": {
        "$ref": "#/components/schemas/field_config"
      }
    },
    {
      "name": "field_storage_config",
      "description": "Entity type: Field storage",
      "x-entity-type": "field_storage_config",
      "x-definition": {
        "$ref": "#/components/schemas/field_storage_config"
      }
    },
    {
      "name": "file",
      "description": "Entity type: File",
      "x-entity-type": "file",
      "x-definition": {
        "$ref": "#/components/schemas/file"
      }
    },
    {
      "name": "flagging",
      "description": "Entity type: Flagging",
      "x-entity-type": "flagging",
      "x-definition": {
        "$ref": "#/components/schemas/flagging"
      }
    },
    {
      "name": "media",
      "description": "Entity type: Media",
      "x-entity-type": "media",
      "x-definition": {
        "$ref": "#/components/schemas/media"
      }
    },
    {
      "name": "media_type",
      "description": "Entity type: Media type",
      "x-entity-type": "media_type",
      "x-definition": {
        "$ref": "#/components/schemas/media_type"
      }
    },
    {
      "name": "menu",
      "description": "Entity type: Menu",
      "x-entity-type": "menu",
      "x-definition": {
        "$ref": "#/components/schemas/menu"
      }
    },
    {
      "name": "node",
      "description": "Entity type: Content",
      "x-entity-type": "node",
      "x-definition": {
        "$ref": "#/components/schemas/node"
      }
    },
    {
      "name": "path_alias",
      "description": "Entity type: URL alias",
      "x-entity-type": "path_alias",
      "x-definition": {
        "$ref": "#/components/schemas/path_alias"
      }
    },
    {
      "name": "taxonomy_term",
      "description": "Entity type: Taxonomy Term",
      "x-entity-type": "taxonomy_term",
      "x-definition": {
        "$ref": "#/components/schemas/taxonomy_term"
      }
    },
    {
      "name": "taxonomy_vocabulary",
      "description": "Entity type: Taxonomy vocabulary",
      "x-entity-type": "taxonomy_vocabulary",
      "x-definition": {
        "$ref": "#/components/schemas/taxonomy_vocabulary"
      }
    },
    {
      "name": "user",
      "description": "Entity type: User",
      "x-entity-type": "user",
      "x-definition": {
        "$ref": "#/components/schemas/user"
      }
    },
    {
      "name": "view",
      "description": "Entity type: View",
      "x-entity-type": "view",
      "x-definition": {
        "$ref": "#/components/schemas/view"
      }
    },
    {
      "name": "webform_submission",
      "description": "Entity type: Webform submission",
      "x-entity-type": "webform_submission",
      "x-definition": {
        "$ref": "#/components/schemas/webform_submission"
      }
    }
  ],
  "paths": {
    "/api/advanced_search_fields": {
      "get": {
        "summary": "Advanced search fields",
        "operationId": "AdvancedSearchFieldsGet",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basic_auth": []
          },
          {
            "cookie": []
          }
        ]
      }
    },
    "/custom_node": {
      "post": {
        "summary": "Enhanced Content",
        "operationId": "DarApisContentCreate",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/restful/api/getThemeColors": {
      "get": {
        "summary": "Get Theme Colors ",
        "operationId": "DarThemeColorsGet",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basic_auth": []
          },
          {
            "cookie": []
          }
        ]
      }
    },
    "/admin/content/block/{block_content}": {
      "get": {
        "tags": [
          "block_content"
        ],
        "summary": "Get a Content block",
        "operationId": "BlockContentGet",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "block_content",
            "in": "path",
            "description": "The id,id, of the block_content.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/block_content"
                }
              },
              "application/jsonld": {
                "schema": {
                  "$ref": "#/components/schemas/block_content"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/block_content"
                }
              },
              "application/oai+dc": {
                "schema": {
                  "$ref": "#/components/schemas/block_content"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "csrf_token": []
          }
        ]
      }
    },
    "/entity/entity_form_display/{entity_form_display}": {
      "get": {
        "tags": [
          "entity_form_display"
        ],
        "summary": "Get a Entity form display",
        "operationId": "EntityFormDisplayGet",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "entity_form_display",
            "in": "path",
            "description": "The id,id, of the entity_form_display.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entity_form_display"
                }
              },
              "application/jsonld": {
                "schema": {
                  "$ref": "#/components/schemas/entity_form_display"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/entity_form_display"
                }
              },
              "application/oai+dc": {
                "schema": {
                  "$ref": "#/components/schemas/entity_form_display"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          },
          {
            "csrf_token": []
          }
        ]
      }
    },
    "/entity/facets_facet/{facets_facet}": {
      "get": {
        "tags": [
          "facets_facet"
        ],
        "summary": "Get a Facet",
        "operationId": "FacetsFacetGet",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "facets_facet",
            "in": "path",
            "description": "The id,id, of the facets_facet.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/facets_facet"
                }
              },
              "application/jsonld": {
                "schema": {
                  "$ref": "#/components/schemas/facets_facet"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/facets_facet"
                }
              },
              "application/oai+dc": {
                "schema": {
                  "$ref": "#/components/schemas/facets_facet"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "csrf_token": []
          }
        ]
      }
    },
    "/entity/facets_facet_source/{facets_facet_source}": {
      "get": {
        "tags": [
          "facets_facet_source"
        ],
        "summary": "Get a Facet source",
        "operationId": "FacetsFacetSourceGet",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "facets_facet_source",
            "in": "path",
            "description": "The id,id, of the facets_facet_source.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/facets_facet_source"
                }
              },
              "application/jsonld": {
                "schema": {
                  "$ref": "#/components/schemas/facets_facet_source"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/facets_facet_source"
                }
              },
              "application/oai+dc": {
                "schema": {
                  "$ref": "#/components/schemas/facets_facet_source"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "csrf_token": []
          }
        ]
      }
    },
    "/entity/facets_summary/{facets_summary}": {
      "get": {
        "tags": [
          "facets_summary"
        ],
        "summary": "Get a Facet summary",
        "operationId": "FacetsSummaryGet",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "facets_summary",
            "in": "path",
            "description": "The id,id, of the facets_summary.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/facets_summary"
                }
              },
              "application/jsonld": {
                "schema": {
                  "$ref": "#/components/schemas/facets_summary"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/facets_summary"
                }
              },
              "application/oai+dc": {
                "schema": {
                  "$ref": "#/components/schemas/facets_summary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "csrf_token": []
          }
        ]
      }
    },
    "/entity/field_config/{field_config}": {
      "get": {
        "tags": [
          "field_config"
        ],
        "summary": "Get a Field",
        "operationId": "FieldConfigGet",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "field_config",
            "in": "path",
            "description": "The id,id, of the field_config.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/field_config"
                }
              },
              "application/jsonld": {
                "schema": {
                  "$ref": "#/components/schemas/field_config"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/field_config"
                }
              },
              "application/oai+dc": {
                "schema": {
                  "$ref": "#/components/schemas/field_config"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          },
          {
            "csrf_token": []
          }
        ]
      }
    },
    "/entity/field_storage_config/{field_storage_config}": {
      "get": {
        "tags": [
          "field_storage_config"
        ],
        "summary": "Get a Field storage",
        "operationId": "FieldStorageConfigGet",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "field_storage_config",
            "in": "path",
            "description": "The id,id, of the field_storage_config.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/field_storage_config"
                }
              },
              "application/jsonld": {
                "schema": {
                  "$ref": "#/components/schemas/field_storage_config"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/field_storage_config"
                }
              },
              "application/oai+dc": {
                "schema": {
                  "$ref": "#/components/schemas/field_storage_config"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          },
          {
            "csrf_token": []
          }
        ]
      }
    },
    "/entity/file/{file}": {
      "get": {
        "tags": [
          "file"
        ],
        "summary": "Get a File",
        "operationId": "FileGet",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "jsonld",
                "json"
              ]
            }
          },
          {
            "name": "file",
            "in": "path",
            "description": "The fid,id, of the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/file"
                }
              },
              "application/jsonld": {
                "schema": {
                  "$ref": "#/components/schemas/file"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/file"
                }
              },
              "application/oai+dc": {
                "schema": {
                  "$ref": "#/components/schemas/file"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          },
          {
            "cookie": []
          },
          {
            "csrf_token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "file"
        ],
        "summary": "Delete a File",
        "operationId": "FileDelete",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "file",
            "in": "path",
            "description": "The fid,id, of the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Entity deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          },
          {
            "cookie": []
          },
          {
            "csrf_token": []
          }
        ]
      },
      "patch": {
        "tags": [
          "file"
        ],
        "summary": "Patch a File",
        "operationId": "FileUpdate",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "file",
            "in": "path",
            "description": "The fid,id, of the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/file"
              }
            },
            "application/jsonld": {
              "schema": {
                "$ref": "#/components/schemas/file"
              }
            },
            "application/hal+json": {
              "schema": {
                "$ref": "#/components/schemas/file"
              }
            },
            "application/oai+dc": {
              "schema": {
                "$ref": "#/components/schemas/file"
              }
            }
          },
          "description": "The File object"
        },
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          },
          {
            "cookie": []
          },
          {
            "csrf_token": []
          }
        ]
      }
    },
    "/entity/file": {
      "post": {
        "tags": [
          "file"
        ],
        "summary": "Post a File",
        "operationId": "FileCreate",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/file"
              }
            },
            "application/jsonld": {
              "schema": {
                "$ref": "#/components/schemas/file"
              }
            },
            "application/hal+json": {
              "schema": {
                "$ref": "#/components/schemas/file"
              }
            },
            "application/oai+dc": {
              "schema": {
                "$ref": "#/components/schemas/file"
              }
            }
          },
          "description": "The File object"
        },
        "responses": {
          "201": {
            "description": "Entity created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/file"
                }
              },
              "application/jsonld": {
                "schema": {
                  "$ref": "#/components/schemas/file"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/file"
                }
              },
              "application/oai+dc": {
                "schema": {
                  "$ref": "#/components/schemas/file"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          },
          {
            "cookie": []
          },
          {
            "csrf_token": []
          }
        ]
      }
    },
    "/entity/flagging/{flagging}": {
      "get": {
        "tags": [
          "flagging"
        ],
        "summary": "Get a Flagging",
        "operationId": "FlaggingGet",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "flagging",
            "in": "path",
            "description": "The id,id, of the flagging.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/flagging"
                }
              },
              "application/jsonld": {
                "schema": {
                  "$ref": "#/components/schemas/flagging"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/flagging"
                }
              },
              "application/oai+dc": {
                "schema": {
                  "$ref": "#/components/schemas/flagging"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "csrf_token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "flagging"
        ],
        "summary": "Delete a Flagging",
        "operationId": "FlaggingDelete",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "flagging",
            "in": "path",
            "description": "The id,id, of the flagging.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Entity deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "csrf_token": []
          }
        ]
      }
    },
    "/entity/flagging": {
      "post": {
        "tags": [
          "flagging"
        ],
        "summary": "Post a Flagging",
        "operationId": "FlaggingCreate",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/flagging"
              }
            },
            "application/jsonld": {
              "schema": {
                "$ref": "#/components/schemas/flagging"
              }
            },
            "application/hal+json": {
              "schema": {
                "$ref": "#/components/schemas/flagging"
              }
            },
            "application/oai+dc": {
              "schema": {
                "$ref": "#/components/schemas/flagging"
              }
            }
          },
          "description": "The Flagging object"
        },
        "responses": {
          "201": {
            "description": "Entity created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/flagging"
                }
              },
              "application/jsonld": {
                "schema": {
                  "$ref": "#/components/schemas/flagging"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/flagging"
                }
              },
              "application/oai+dc": {
                "schema": {
                  "$ref": "#/components/schemas/flagging"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "csrf_token": []
          }
        ]
      }
    },
    "/media/{media}": {
      "get": {
        "tags": [
          "media"
        ],
        "summary": "Get a Media",
        "operationId": "MediaGet",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "jsonld",
                "json"
              ]
            }
          },
          {
            "name": "media",
            "in": "path",
            "description": "The mid,id, of the media.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/media"
                }
              },
              "application/jsonld": {
                "schema": {
                  "$ref": "#/components/schemas/media"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/media"
                }
              },
              "application/oai+dc": {
                "schema": {
                  "$ref": "#/components/schemas/media"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          },
          {
            "cookie": []
          },
          {
            "csrf_token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "media"
        ],
        "summary": "Delete a Media",
        "operationId": "MediaDelete",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "media",
            "in": "path",
            "description": "The mid,id, of the media.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Entity deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          },
          {
            "cookie": []
          },
          {
            "csrf_token": []
          }
        ]
      },
      "patch": {
        "tags": [
          "media"
        ],
        "summary": "Patch a Media",
        "operationId": "MediaUpdate",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "media",
            "in": "path",
            "description": "The mid,id, of the media.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/media"
              }
            },
            "application/jsonld": {
              "schema": {
                "$ref": "#/components/schemas/media"
              }
            },
            "application/hal+json": {
              "schema": {
                "$ref": "#/components/schemas/media"
              }
            },
            "application/oai+dc": {
              "schema": {
                "$ref": "#/components/schemas/media"
              }
            }
          },
          "description": "The Media object"
        },
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          },
          {
            "cookie": []
          },
          {
            "csrf_token": []
          }
        ]
      }
    },
    "/entity/media": {
      "post": {
        "tags": [
          "media"
        ],
        "summary": "Post a Media",
        "operationId": "MediaCreate",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/media"
              }
            },
            "application/jsonld": {
              "schema": {
                "$ref": "#/components/schemas/media"
              }
            },
            "application/hal+json": {
              "schema": {
                "$ref": "#/components/schemas/media"
              }
            },
            "application/oai+dc": {
              "schema": {
                "$ref": "#/components/schemas/media"
              }
            }
          },
          "description": "The Media object"
        },
        "responses": {
          "201": {
            "description": "Entity created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/media"
                }
              },
              "application/jsonld": {
                "schema": {
                  "$ref": "#/components/schemas/media"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/media"
                }
              },
              "application/oai+dc": {
                "schema": {
                  "$ref": "#/components/schemas/media"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/jsonld": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              },
              "application/oai+dc": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          },
          {
            "cookie": []
          },
          {
            "csrf_token": []
          }
        ]
      }
    },
    "/entity/media_type/{media_type}": {
      "get": {
        "tags": [
          "media_type"
        ],
        "summary": "Get a Media type",
        "operationId": "MediaTypeGet",
        "parameters": [
          {
            "name": "_format",
            "in": "query",
            "description": "Request format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "media_type",
            "in": "path",
            "description": "The id,id, of the media_type.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/media_type"
                }
              },
              "application/jsonld": {
                "schema": {
                  "$ref": "#/components/schemas/media_type"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/media_type"
                }
              },
              "application/oai+dc": {
                "schema": {
                  "$ref": "#/components/schemas/media_type"
                }
              }
            }
          },
          "400": {
[...]
