{
  "openapi": "3.1.0",
  "info": {
    "title": "IEP \u2013 Medad REST API",
    "summary": "IEP REST API covering core DocTypes and webhook events",
    "description": "REST API for the IEP integration with the Medad system. Provides CRUD access to core academic DocTypes via the standard Frappe /api/resource pattern, plus outbound webhook event definitions.",
    "version": "1.0.0",
    "contact": {
      "name": "Medad Support"
    }
  },
  "servers": [
    {
      "url": "https://iepstg.medadstg.com",
      "description": "IEP Staging Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Academic Level",
      "description": "Operations for Academic Level documents"
    },
    {
      "name": "Academic Program",
      "description": "Operations for Academic Program documents"
    },
    {
      "name": "Academic Rank",
      "description": "Operations for Academic Rank documents"
    },
    {
      "name": "Academic Term",
      "description": "Operations for Academic Term documents"
    },
    {
      "name": "Academic Year",
      "description": "Operations for Academic Year documents"
    },
    {
      "name": "Assessment Plan",
      "description": "Operations for Assessment Plan documents"
    },
    {
      "name": "Assessment Plan Details",
      "description": "Operations for Assessment Plan Details documents"
    },
    {
      "name": "Assessment Task",
      "description": "Operations for Assessment Task documents"
    },
    {
      "name": "Assessment Task Setup",
      "description": "Operations for Assessment Task Setup documents"
    },
    {
      "name": "Campus",
      "description": "Operations for Campus documents"
    },
    {
      "name": "Class Type",
      "description": "Operations for Class Type documents"
    },
    {
      "name": "Cohort",
      "description": "Operations for Cohort documents"
    },
    {
      "name": "College",
      "description": "Operations for College documents"
    },
    {
      "name": "Country",
      "description": "Operations for Country documents"
    },
    {
      "name": "Course",
      "description": "Operations for Course documents"
    },
    {
      "name": "Course Section",
      "description": "Operations for Course Section documents"
    },
    {
      "name": "Degree",
      "description": "Operations for Degree documents"
    },
    {
      "name": "Department",
      "description": "Operations for Department documents"
    },
    {
      "name": "Education Level",
      "description": "Operations for Education Level documents"
    },
    {
      "name": "Faculty Member",
      "description": "Operations for Faculty Member documents"
    },
    {
      "name": "Faculty Member Type",
      "description": "Operations for Faculty Member Type documents"
    },
    {
      "name": "Grades Data Sync",
      "description": "Operations for Grades Data Sync documents"
    },
    {
      "name": "Institution",
      "description": "Operations for Institution documents"
    },
    {
      "name": "Major",
      "description": "Operations for Major documents"
    },
    {
      "name": "Program Study Plan",
      "description": "Operations for Program Study Plan documents"
    },
    {
      "name": "Program of Study",
      "description": "Operations for Program of Study documents"
    },
    {
      "name": "Qualification Level",
      "description": "Operations for Qualification Level documents"
    },
    {
      "name": "Requirement Level",
      "description": "Operations for Requirement Level documents"
    },
    {
      "name": "Student",
      "description": "Operations for Student documents"
    },
    {
      "name": "Student Course Registration",
      "description": "Operations for Student Course Registration documents"
    },
    {
      "name": "Student Evaluation",
      "description": "Operations for Student Evaluation documents"
    },
    {
      "name": "Student Results",
      "description": "Operations for Student Results documents"
    },
    {
      "name": "Student Results Grade",
      "description": "Operations for Student Results Grade documents"
    },
    {
      "name": "Student Results Status Distribution",
      "description": "Operations for Student Results Status Distribution documents"
    },
    {
      "name": "Track",
      "description": "Operations for Track documents"
    },
    {
      "name": "Translation",
      "description": "Operations for Translation documents"
    },
    {
      "name": "Unit",
      "description": "Operations for Unit documents"
    },
    {
      "name": "User",
      "description": "Operations for User documents"
    },
    {
      "name": "Webhook",
      "description": "Operations for Webhook documents"
    }
  ],
  "paths": {
    "/api/resource/Academic Level": {
      "get": {
        "tags": [
          "Academic Level"
        ],
        "summary": "List Academic Level documents",
        "description": "Retrieve a list of Academic Level documents with optional filtering and pagination",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "JSON array of fieldnames to include. Pass the value as a JSON-encoded list in the query string. example: [\"name\", \"title\", \"status\"]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "JSON array of filter conditions. Each condition is an array in the form [Doctype, field, operator, value]. Combine multiple conditions in a single outer array. example: [[\"User\", \"enabled\", \"=\", 1], [\"Class Enrollment\", \"course\", \"=\", \"ACC203\"]]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_start",
            "in": "query",
            "description": "Starting index for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to order by (add 'desc' for descending)",
            "schema": {
              "type": "string"
            },
            "example": "modified desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AcademicLevel"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_academic_level"
      },
      "post": {
        "tags": [
          "Academic Level"
        ],
        "summary": "Create Academic Level document",
        "description": "Create a new Academic Level document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcademicLevelcreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AcademicLevel"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_post_academic_level"
      }
    },
    "/api/resource/Academic Level/{name}": {
      "get": {
        "tags": [
          "Academic Level"
        ],
        "summary": "Get Academic Level document",
        "description": "Retrieve a specific Academic Level document by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AcademicLevel"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_academic_level_by_id"
      },
      "put": {
        "tags": [
          "Academic Level"
        ],
        "summary": "Update Academic Level document",
        "description": "Update an existing Academic Level document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcademicLevelupdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AcademicLevel"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_put_academic_level_by_id"
      },
      "delete": {
        "tags": [
          "Academic Level"
        ],
        "summary": "Delete Academic Level document",
        "description": "Delete a specific Academic Level document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          },
          "204": {
            "description": "Document deleted successfully"
          }
        },
        "operationId": "iep_delete_academic_level_by_id"
      }
    },
    "/api/resource/Academic Program": {
      "get": {
        "tags": [
          "Academic Program"
        ],
        "summary": "List Academic Program documents",
        "description": "Retrieve a list of Academic Program documents with optional filtering and pagination",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "JSON array of fieldnames to include. Pass the value as a JSON-encoded list in the query string. example: [\"name\", \"title\", \"status\"]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "JSON array of filter conditions. Each condition is an array in the form [Doctype, field, operator, value]. Combine multiple conditions in a single outer array. example: [[\"User\", \"enabled\", \"=\", 1], [\"Class Enrollment\", \"course\", \"=\", \"ACC203\"]]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_start",
            "in": "query",
            "description": "Starting index for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to order by (add 'desc' for descending)",
            "schema": {
              "type": "string"
            },
            "example": "modified desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AcademicProgram"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_academic_program"
      },
      "post": {
        "tags": [
          "Academic Program"
        ],
        "summary": "Create Academic Program document",
        "description": "Create a new Academic Program document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcademicProgramcreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AcademicProgram"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_post_academic_program"
      }
    },
    "/api/resource/Academic Program/{name}": {
      "get": {
        "tags": [
          "Academic Program"
        ],
        "summary": "Get Academic Program document",
        "description": "Retrieve a specific Academic Program document by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AcademicProgram"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_academic_program_by_id"
      },
      "put": {
        "tags": [
          "Academic Program"
        ],
        "summary": "Update Academic Program document",
        "description": "Update an existing Academic Program document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcademicProgramupdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AcademicProgram"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_put_academic_program_by_id"
      },
      "delete": {
        "tags": [
          "Academic Program"
        ],
        "summary": "Delete Academic Program document",
        "description": "Delete a specific Academic Program document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          },
          "204": {
            "description": "Document deleted successfully"
          }
        },
        "operationId": "iep_delete_academic_program_by_id"
      }
    },
    "/api/resource/Academic Rank": {
      "get": {
        "tags": [
          "Academic Rank"
        ],
        "summary": "List Academic Rank documents",
        "description": "Retrieve a list of Academic Rank documents with optional filtering and pagination",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "JSON array of fieldnames to include. Pass the value as a JSON-encoded list in the query string. example: [\"name\", \"title\", \"status\"]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "JSON array of filter conditions. Each condition is an array in the form [Doctype, field, operator, value]. Combine multiple conditions in a single outer array. example: [[\"User\", \"enabled\", \"=\", 1], [\"Class Enrollment\", \"course\", \"=\", \"ACC203\"]]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_start",
            "in": "query",
            "description": "Starting index for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to order by (add 'desc' for descending)",
            "schema": {
              "type": "string"
            },
            "example": "modified desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AcademicRank"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_academic_rank"
      },
      "post": {
        "tags": [
          "Academic Rank"
        ],
        "summary": "Create Academic Rank document",
        "description": "Create a new Academic Rank document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcademicRankcreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AcademicRank"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_post_academic_rank"
      }
    },
    "/api/resource/Academic Rank/{name}": {
      "get": {
        "tags": [
          "Academic Rank"
        ],
        "summary": "Get Academic Rank document",
        "description": "Retrieve a specific Academic Rank document by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AcademicRank"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_academic_rank_by_id"
      },
      "put": {
        "tags": [
          "Academic Rank"
        ],
        "summary": "Update Academic Rank document",
        "description": "Update an existing Academic Rank document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcademicRankupdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AcademicRank"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_put_academic_rank_by_id"
      },
      "delete": {
        "tags": [
          "Academic Rank"
        ],
        "summary": "Delete Academic Rank document",
        "description": "Delete a specific Academic Rank document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          },
          "204": {
            "description": "Document deleted successfully"
          }
        },
        "operationId": "iep_delete_academic_rank_by_id"
      }
    },
    "/api/resource/Academic Term": {
      "get": {
        "tags": [
          "Academic Term"
        ],
        "summary": "List Academic Term documents",
        "description": "Retrieve a list of Academic Term documents with optional filtering and pagination",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "JSON array of fieldnames to include. Pass the value as a JSON-encoded list in the query string. example: [\"name\", \"title\", \"status\"]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "JSON array of filter conditions. Each condition is an array in the form [Doctype, field, operator, value]. Combine multiple conditions in a single outer array. example: [[\"User\", \"enabled\", \"=\", 1], [\"Class Enrollment\", \"course\", \"=\", \"ACC203\"]]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_start",
            "in": "query",
            "description": "Starting index for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to order by (add 'desc' for descending)",
            "schema": {
              "type": "string"
            },
            "example": "modified desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AcademicTerm"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_academic_term"
      },
      "post": {
        "tags": [
          "Academic Term"
        ],
        "summary": "Create Academic Term document",
        "description": "Create a new Academic Term document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcademicTermcreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AcademicTerm"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_post_academic_term"
      }
    },
    "/api/resource/Academic Term/{name}": {
      "get": {
        "tags": [
          "Academic Term"
        ],
        "summary": "Get Academic Term document",
        "description": "Retrieve a specific Academic Term document by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AcademicTerm"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_academic_term_by_id"
      },
      "put": {
        "tags": [
          "Academic Term"
        ],
        "summary": "Update Academic Term document",
        "description": "Update an existing Academic Term document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcademicTermupdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AcademicTerm"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_put_academic_term_by_id"
      },
      "delete": {
        "tags": [
          "Academic Term"
        ],
        "summary": "Delete Academic Term document",
        "description": "Delete a specific Academic Term document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          },
          "204": {
            "description": "Document deleted successfully"
          }
        },
        "operationId": "iep_delete_academic_term_by_id"
      }
    },
    "/api/resource/Academic Year": {
      "get": {
        "tags": [
          "Academic Year"
        ],
        "summary": "List Academic Year documents",
        "description": "Retrieve a list of Academic Year documents with optional filtering and pagination",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "JSON array of fieldnames to include. Pass the value as a JSON-encoded list in the query string. example: [\"name\", \"title\", \"status\"]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "JSON array of filter conditions. Each condition is an array in the form [Doctype, field, operator, value]. Combine multiple conditions in a single outer array. example: [[\"User\", \"enabled\", \"=\", 1], [\"Class Enrollment\", \"course\", \"=\", \"ACC203\"]]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_start",
            "in": "query",
            "description": "Starting index for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to order by (add 'desc' for descending)",
            "schema": {
              "type": "string"
            },
            "example": "modified desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AcademicYear"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_academic_year"
      },
      "post": {
        "tags": [
          "Academic Year"
        ],
        "summary": "Create Academic Year document",
        "description": "Create a new Academic Year document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcademicYearcreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AcademicYear"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_post_academic_year"
      }
    },
    "/api/resource/Academic Year/{name}": {
      "get": {
        "tags": [
          "Academic Year"
        ],
        "summary": "Get Academic Year document",
        "description": "Retrieve a specific Academic Year document by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AcademicYear"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_academic_year_by_id"
      },
      "put": {
        "tags": [
          "Academic Year"
        ],
        "summary": "Update Academic Year document",
        "description": "Update an existing Academic Year document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcademicYearupdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AcademicYear"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_put_academic_year_by_id"
      },
      "delete": {
        "tags": [
          "Academic Year"
        ],
        "summary": "Delete Academic Year document",
        "description": "Delete a specific Academic Year document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          },
          "204": {
            "description": "Document deleted successfully"
          }
        },
        "operationId": "iep_delete_academic_year_by_id"
      }
    },
    "/api/resource/Assessment Plan": {
      "get": {
        "tags": [
          "Assessment Plan"
        ],
        "summary": "List Assessment Plan documents",
        "description": "Retrieve a list of Assessment Plan documents with optional filtering and pagination",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "JSON array of fieldnames to include. Pass the value as a JSON-encoded list in the query string. example: [\"name\", \"title\", \"status\"]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "JSON array of filter conditions. Each condition is an array in the form [Doctype, field, operator, value]. Combine multiple conditions in a single outer array. example: [[\"User\", \"enabled\", \"=\", 1], [\"Class Enrollment\", \"course\", \"=\", \"ACC203\"]]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_start",
            "in": "query",
            "description": "Starting index for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to order by (add 'desc' for descending)",
            "schema": {
              "type": "string"
            },
            "example": "modified desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AssessmentPlan"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_assessment_plan"
      },
      "post": {
        "tags": [
          "Assessment Plan"
        ],
        "summary": "Create Assessment Plan document",
        "description": "Create a new Assessment Plan document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssessmentPlancreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssessmentPlan"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_post_assessment_plan"
      }
    },
    "/api/resource/Assessment Plan Details": {
      "get": {
        "tags": [
          "Assessment Plan Details"
        ],
        "summary": "List Assessment Plan Details documents",
        "description": "Retrieve a list of Assessment Plan Details documents with optional filtering and pagination",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "JSON array of fieldnames to include. Pass the value as a JSON-encoded list in the query string. example: [\"name\", \"title\", \"status\"]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "JSON array of filter conditions. Each condition is an array in the form [Doctype, field, operator, value]. Combine multiple conditions in a single outer array. example: [[\"User\", \"enabled\", \"=\", 1], [\"Class Enrollment\", \"course\", \"=\", \"ACC203\"]]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_start",
            "in": "query",
            "description": "Starting index for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to order by (add 'desc' for descending)",
            "schema": {
              "type": "string"
            },
            "example": "modified desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AssessmentPlanDetails"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_assessment_plan_details"
      },
      "post": {
        "tags": [
          "Assessment Plan Details"
        ],
        "summary": "Create Assessment Plan Details document",
        "description": "Create a new Assessment Plan Details document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssessmentPlanDetailscreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssessmentPlanDetails"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_post_assessment_plan_details"
      }
    },
    "/api/resource/Assessment Plan Details/{name}": {
      "get": {
        "tags": [
          "Assessment Plan Details"
        ],
        "summary": "Get Assessment Plan Details document",
        "description": "Retrieve a specific Assessment Plan Details document by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssessmentPlanDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_assessment_plan_details_by_id"
      },
      "put": {
        "tags": [
          "Assessment Plan Details"
        ],
        "summary": "Update Assessment Plan Details document",
        "description": "Update an existing Assessment Plan Details document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssessmentPlanDetailsupdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssessmentPlanDetails"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_put_assessment_plan_details_by_id"
      },
      "delete": {
        "tags": [
          "Assessment Plan Details"
        ],
        "summary": "Delete Assessment Plan Details document",
        "description": "Delete a specific Assessment Plan Details document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          },
          "204": {
            "description": "Document deleted successfully"
          }
        },
        "operationId": "iep_delete_assessment_plan_details_by_id"
      }
    },
    "/api/resource/Assessment Plan/{name}": {
      "get": {
        "tags": [
          "Assessment Plan"
        ],
        "summary": "Get Assessment Plan document",
        "description": "Retrieve a specific Assessment Plan document by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssessmentPlan"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_assessment_plan_by_id"
      },
      "put": {
        "tags": [
          "Assessment Plan"
        ],
        "summary": "Update Assessment Plan document",
        "description": "Update an existing Assessment Plan document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssessmentPlanupdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssessmentPlan"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_put_assessment_plan_by_id"
      },
      "delete": {
        "tags": [
          "Assessment Plan"
        ],
        "summary": "Delete Assessment Plan document",
        "description": "Delete a specific Assessment Plan document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          },
          "204": {
            "description": "Document deleted successfully"
          }
        },
        "operationId": "iep_delete_assessment_plan_by_id"
      }
    },
    "/api/resource/Assessment Task": {
      "get": {
        "tags": [
          "Assessment Task"
        ],
        "summary": "List Assessment Task documents",
        "description": "Retrieve a list of Assessment Task documents with optional filtering and pagination",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "JSON array of fieldnames to include. Pass the value as a JSON-encoded list in the query string. example: [\"name\", \"title\", \"status\"]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "JSON array of filter conditions. Each condition is an array in the form [Doctype, field, operator, value]. Combine multiple conditions in a single outer array. example: [[\"User\", \"enabled\", \"=\", 1], [\"Class Enrollment\", \"course\", \"=\", \"ACC203\"]]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_start",
            "in": "query",
            "description": "Starting index for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to order by (add 'desc' for descending)",
            "schema": {
              "type": "string"
            },
            "example": "modified desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AssessmentTask"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_assessment_task"
      },
      "post": {
        "tags": [
          "Assessment Task"
        ],
        "summary": "Create Assessment Task document",
        "description": "Create a new Assessment Task document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssessmentTaskcreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssessmentTask"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_post_assessment_task"
      }
    },
    "/api/resource/Assessment Task Setup": {
      "get": {
        "tags": [
          "Assessment Task Setup"
        ],
        "summary": "List Assessment Task Setup documents",
        "description": "Retrieve a list of Assessment Task Setup documents with optional filtering and pagination",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "JSON array of fieldnames to include. Pass the value as a JSON-encoded list in the query string. example: [\"name\", \"title\", \"status\"]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "JSON array of filter conditions. Each condition is an array in the form [Doctype, field, operator, value]. Combine multiple conditions in a single outer array. example: [[\"User\", \"enabled\", \"=\", 1], [\"Class Enrollment\", \"course\", \"=\", \"ACC203\"]]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_start",
            "in": "query",
            "description": "Starting index for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to order by (add 'desc' for descending)",
            "schema": {
              "type": "string"
            },
            "example": "modified desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AssessmentTaskSetup"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_assessment_task_setup"
      },
      "post": {
        "tags": [
          "Assessment Task Setup"
        ],
        "summary": "Create Assessment Task Setup document",
        "description": "Create a new Assessment Task Setup document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssessmentTaskSetupcreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssessmentTaskSetup"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_post_assessment_task_setup"
      }
    },
    "/api/resource/Assessment Task Setup/{name}": {
      "get": {
        "tags": [
          "Assessment Task Setup"
        ],
        "summary": "Get Assessment Task Setup document",
        "description": "Retrieve a specific Assessment Task Setup document by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssessmentTaskSetup"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_assessment_task_setup_by_id"
      },
      "put": {
        "tags": [
          "Assessment Task Setup"
        ],
        "summary": "Update Assessment Task Setup document",
        "description": "Update an existing Assessment Task Setup document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssessmentTaskSetupupdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssessmentTaskSetup"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_put_assessment_task_setup_by_id"
      },
      "delete": {
        "tags": [
          "Assessment Task Setup"
        ],
        "summary": "Delete Assessment Task Setup document",
        "description": "Delete a specific Assessment Task Setup document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          },
          "204": {
            "description": "Document deleted successfully"
          }
        },
        "operationId": "iep_delete_assessment_task_setup_by_id"
      }
    },
    "/api/resource/Assessment Task/{name}": {
      "get": {
        "tags": [
          "Assessment Task"
        ],
        "summary": "Get Assessment Task document",
        "description": "Retrieve a specific Assessment Task document by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssessmentTask"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_assessment_task_by_id"
      },
      "put": {
        "tags": [
          "Assessment Task"
        ],
        "summary": "Update Assessment Task document",
        "description": "Update an existing Assessment Task document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssessmentTaskupdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssessmentTask"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_put_assessment_task_by_id"
      },
      "delete": {
        "tags": [
          "Assessment Task"
        ],
        "summary": "Delete Assessment Task document",
        "description": "Delete a specific Assessment Task document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          },
          "204": {
            "description": "Document deleted successfully"
          }
        },
        "operationId": "iep_delete_assessment_task_by_id"
      }
    },
    "/api/resource/Campus": {
      "get": {
        "tags": [
          "Campus"
        ],
        "summary": "List Campus documents",
        "description": "Retrieve a list of Campus documents with optional filtering and pagination",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "JSON array of fieldnames to include. Pass the value as a JSON-encoded list in the query string. example: [\"name\", \"title\", \"status\"]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "JSON array of filter conditions. Each condition is an array in the form [Doctype, field, operator, value]. Combine multiple conditions in a single outer array. example: [[\"User\", \"enabled\", \"=\", 1], [\"Class Enrollment\", \"course\", \"=\", \"ACC203\"]]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_start",
            "in": "query",
            "description": "Starting index for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to order by (add 'desc' for descending)",
            "schema": {
              "type": "string"
            },
            "example": "modified desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Campus"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_campus"
      },
      "post": {
        "tags": [
          "Campus"
        ],
        "summary": "Create Campus document",
        "description": "Create a new Campus document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampusCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Campus"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_post_campus"
      }
    },
    "/api/resource/Campus/{name}": {
      "get": {
        "tags": [
          "Campus"
        ],
        "summary": "Get Campus document",
        "description": "Retrieve a specific Campus document by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Campus"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_campus_by_id"
      },
      "put": {
        "tags": [
          "Campus"
        ],
        "summary": "Update Campus document",
        "description": "Update an existing Campus document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampusUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Campus"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_put_campus_by_id"
      },
      "delete": {
        "tags": [
          "Campus"
        ],
        "summary": "Delete Campus document",
        "description": "Delete a specific Campus document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          },
          "204": {
            "description": "Document deleted successfully"
          }
        },
        "operationId": "iep_delete_campus_by_id"
      }
    },
    "/api/resource/Class Type": {
      "get": {
        "tags": [
          "Class Type"
        ],
        "summary": "List Class Type documents",
        "description": "Retrieve a list of Class Type documents with optional filtering and pagination",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "JSON array of fieldnames to include. Pass the value as a JSON-encoded list in the query string. example: [\"name\", \"title\", \"status\"]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "JSON array of filter conditions. Each condition is an array in the form [Doctype, field, operator, value]. Combine multiple conditions in a single outer array. example: [[\"User\", \"enabled\", \"=\", 1], [\"Class Enrollment\", \"course\", \"=\", \"ACC203\"]]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_start",
            "in": "query",
            "description": "Starting index for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to order by (add 'desc' for descending)",
            "schema": {
              "type": "string"
            },
            "example": "modified desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClassType"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_class_type"
      },
      "post": {
        "tags": [
          "Class Type"
        ],
        "summary": "Create Class Type document",
        "description": "Create a new Class Type document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassTypecreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClassType"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_post_class_type"
      }
    },
    "/api/resource/Class Type/{name}": {
      "get": {
        "tags": [
          "Class Type"
        ],
        "summary": "Get Class Type document",
        "description": "Retrieve a specific Class Type document by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClassType"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_class_type_by_id"
      },
      "put": {
        "tags": [
          "Class Type"
        ],
        "summary": "Update Class Type document",
        "description": "Update an existing Class Type document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassTypeupdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClassType"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_put_class_type_by_id"
      },
      "delete": {
        "tags": [
          "Class Type"
        ],
        "summary": "Delete Class Type document",
        "description": "Delete a specific Class Type document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          },
          "204": {
            "description": "Document deleted successfully"
          }
        },
        "operationId": "iep_delete_class_type_by_id"
      }
    },
    "/api/resource/Cohort": {
      "get": {
        "tags": [
          "Cohort"
        ],
        "summary": "List Cohort documents",
        "description": "Retrieve a list of Cohort documents with optional filtering and pagination",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "JSON array of fieldnames to include. Pass the value as a JSON-encoded list in the query string. example: [\"name\", \"title\", \"status\"]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "JSON array of filter conditions. Each condition is an array in the form [Doctype, field, operator, value]. Combine multiple conditions in a single outer array. example: [[\"User\", \"enabled\", \"=\", 1], [\"Class Enrollment\", \"course\", \"=\", \"ACC203\"]]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_start",
            "in": "query",
            "description": "Starting index for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to order by (add 'desc' for descending)",
            "schema": {
              "type": "string"
            },
            "example": "modified desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Cohort"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_cohort"
      },
      "post": {
        "tags": [
          "Cohort"
        ],
        "summary": "Create Cohort document",
        "description": "Create a new Cohort document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CohortCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Cohort"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_post_cohort"
      }
    },
    "/api/resource/Cohort/{name}": {
      "get": {
        "tags": [
          "Cohort"
        ],
        "summary": "Get Cohort document",
        "description": "Retrieve a specific Cohort document by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Cohort"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_get_cohort_by_id"
      },
      "put": {
        "tags": [
          "Cohort"
        ],
        "summary": "Update Cohort document",
        "description": "Update an existing Cohort document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CohortUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Cohort"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "operationId": "iep_put_cohort_by_id"
      },
      "delete": {
        "tags": [
          "Cohort"
        ],
        "summary": "Delete Cohort document",
        "description": "Delete a specific Cohort document",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Document name/ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Document not found"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          },
          "204": {
            "description": "Document deleted successfully"
          }
        },
[...]
